:root {
	--ParamWidth: 320px;
}

body{
	background-color: var(--PanelBackHoverMenu);
}
.param{
	background-color: var(--PanelBack);
	position: fixed;
	width: calc(var(--ParamWidth) - 10px);
	height: calc(100% - 10px - var(--HeaderBarHeight));
	top: var(--HeaderBarHeight);
	padding: 5px;
	color: var(--PanelBackText);
	font-family: var(--TexteFont);
	border: var(--PanelBackHoverMenu);
	font-weight: bold;
}

.objectliste{
	background-color: var(--PanelBack);
	position: fixed;
	width: calc(var(--ParamWidth) - 10px);
	right: 0px;
	height: calc(100% - 10px - var(--HeaderBarHeight));
	top: var(--HeaderBarHeight);
	padding: 5px;
	color: var(--PanelBackText);
	font-family: var(--TexteFont);
	border: var(--PanelBackHoverMenu);
	font-weight: bold;
	display: flex;
	flex-direction: column;
}

.regenerate{
	margin-bottom: 5px;
	height: 20px;
}

.panel{
	width: 100%;
	border-radius: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	scrollbar-width: thin;          /* "auto" or "thin" */
	scrollbar-color: var(--PanelBackText) transparent; 
	font-family: var(--TexteFont);
}

.leftpanel{
	height: calc(100% - 95px);
}
.rightpanel{
	height: calc(100% - 75px);
	margin-top: 3px;
}
.panel::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
.panel::-webkit-scrollbar-track{
  background: transparent;        /* color of the tracking area */
}
.panel::-webkit-scrollbar-thumb {
  background-color: var(--PanelBackText);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: none;  /* creates padding around scroll thumb */
}
.regenerate,
.panel button, input, select{
	width: 100%;
}
.panel button, input{
	font-weight: bold;
	text-align: right;
}
.regenerate,
.panel select{
	font-weight: bold;
	text-align: center;
}
.panel label{
	color: var(--PanelBackText);
	font-weight: normal;
	padding-left: 0px;
}

.newobjectfull{
	font-weight: bold;
	text-align: center;
	display: inline-block;
	width: 100%;
}

.newobjecthalf{
	font-weight: bold;
	text-align: center;
	display: inline-block;
	width: 49%;
}


.input_coord{
	width: calc(50% - 7px * 1.5) !important; 
	display: inline-block;
	padding: 0px;
}

.coord{
	display: flex;
	gap: 0;
	flex-direction: row;
	align-items: center;
}
.coord label{
	flex: none;
}
.coord input{
	flex: auto;
}

.input_coord_poly{
	width: 60px !important; 
	display: inline-block;
	padding: 0px;
}
.coord_poly_delete{
	width: fit-content !important;
	display: inline-block;
}
.coord_poly{
	padding-left: 15px; 
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	border: solid var(--PanelBackTextDisabled) 1px;
}
.coord_poly div{
	display: flex;
	flex-direction: row;
	gap: 0px;
	align-items: center;
	padding-left: 2px; 
}
.coord_poly div:nth-child(odd){
	background-color: #FFFFFF30;
}
.coord_poly div *{
	flex: none;
}
.first_child{
	flex: auto !important;
}

.delete{
	margin-top: 5px;
}

.formemenu{
	transition: .4s all ease;
	height: 28px;
	overflow-y: hidden;
	overflow-x: hidden;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;	
}
.formemenu span{
	background-color: var(--PanelBackActive);
	padding: 2px 2px;
	display: inline-block;
	height: 24px;
	width: 100%;
}
.formemenu span:hover{
	background-color: var(--PanelBackHover);
}
.formemenu span:before{
	content: "⯈";
}
.formemenu_div{
	padding-left: 20px; 
	padding-right: 5px; 
	padding-bottom: 10px;
	display: flex;
	flex-direction: column;
	gap: 2px;
}
.formemenu button{
	text-align: center;
}

.show{
	height: auto;
	transition: .4s all ease;
}
.show span:before{
	content: "⯆";
}



.content{
	position: fixed;
	width: calc(100% - var(--ParamWidth) * 2);
	height: calc(100% - var(--HeaderBarHeight) - 20px);
	top: var(--HeaderBarHeight);
	left: 320px;
	vertical-align: middle;
	text-align: center;	
	display:flex;
	padding: 10px;
	flex-direction: column;
	justify-content:center;
	align-items:center;
	overflow-x: hidden;
}
.content img{
	min-height: 200px;
	min-width: 200px;
}
.content button{
	width: 200px;
}

.content_container{
	/* height: calc(inherit - 42px); */
	overflow-y: hidden;
}

.hiddenparam{
	display: none !important;
	height: 0px;
}

.flexparameters{
	display: flex;
	gap: 5px;
	justify-content: space-between;
	align-items: center;
}
.flexparameters input, select{
	max-width: 50%;
	flex: 1 1 30%;
}
.subsection{
	padding-left: 5px;
	display: flex;
	flex-direction: column;
	gap: 2px;
	border-left: solid 1px var(--PanelBackTextDisabled);
}

hr{
	background-color: var(--PanelBackTextDisabled);
	color: var(--PanelBackTextDisabled);
	height: 0px;
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

@media only screen and (max-width:1220px) {
	.param{
		height: calc(100% - 10px - 2 * var(--HeaderBarHeight));
		top: calc(2 * var(--HeaderBarHeight));
	}
	.objectliste{
		height: calc(100% - 10px - 2 * var(--HeaderBarHeight));
		top: calc(2 * var(--HeaderBarHeight));
	}
	.content{
		height: calc(100% - 10px - 2 * var(--HeaderBarHeight));
		top: calc(2 * var(--HeaderBarHeight));
	}
}