:root {
	--NavBarWidth: 280px;
	--HeaderBarHeight: 60px;
	--PanelBack: #181818;
	--PanelBackActive: #37373D;
	--PanelBackHover: #2A2D2E;
	--PanelBackHoverMenu: #36363C;
	--PanelBackText: #DEDEE3;
	--PanelBackTextDisabled: #7C7C7F;
	--HeaderBack: #18181b;
	--HeadMenuButton: #F9F9FF10;
	--HeadMenuButtonHover: #F9F9FF1D;
	--HeadMenuButtonActive: #F9F9FF05;
	--OnWhiteTexte: #101010;
	--HoverWhiter: #FFFFFF88; 

	--RedPanel: #7F3F4B;
	--RedPanelActive: #4C262D;
	--RedPanelHover: #CF6679;
	--RedPanelFocus: #773333;

	--PurplePanel: #5E447F;
	--PurplePanelActive: #38294C;
	--PurplePanelHover: #BB86FC;

	--BluePanel: #037F73;
	--BluePanelActive: #024C43;
	--BluePanelHover: #06DAC6;

	--TexteFont: "Inter", "Roobert", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--scrollbarBG: transparent;
	--thumbBG: #7C7C7F;
}

.titrepagecollege span::before{
	content: "Collège Mme De Lafayette";
}
.titrepagedate span::before{
	content: "2018-2024";
}

body,
html {
  height: 100%;
  margin: 0;
}
header {
  height: var(--HeaderBarHeight);
  left: var(--NavBarWidth);
  right: 0;
  position: fixed;
  top: 0;
  z-index: 99;
}
.aside {
  background: var(--PanelBack);
  bottom: 0px;
  left: 0;
  z-index: 2;
  position: fixed;
  top: var(--HeaderBarHeight);
  width: var(--NavBarWidth);
  box-shadow: 2px 0px 1px black;
  overflow-x: visible;
  transition: .25s all ease;
}

/* Header */
.nav-header {
  position: fixed;
  left: 0;
  right: 0;
  height: var(--HeaderBarHeight);
  z-index: 20;
  background: var(--HeaderBack);
  box-shadow: 0px 2px 1px black;
}
.nav-headertext{
  height: var(--HeaderBarHeight);
  width: var(--NavBarWidth);
}
.titrepageback{
  width: auto;
  padding: 0px 10px;
  margin: calc((var(--HeaderBarHeight) - 16px * 3) / 2);
  border-radius: 5px;
  background-color: var(--PanelBack);
}
.titrepageback p{
  font-family: var(--TexteFont);
  color: var(--PanelBackText);
  font-size: 14px;
  font-weight: 600;
  line-height: 16px;
  margin: auto;   
  text-align: center;
}

.menuprincipale{
  display: flex;
  height: calc(var(--HeaderBarHeight) - 12px);
  justify-content: left;
  margin: 6px;
  gap: 6px;
}
.blockmenu{
  align-items: center;
  background-color: var(--HeadMenuButton);
  border-radius: 5px;
  color: white;
  display: flex;
  flex: 0 1 200px;
  font-family: var(--TexteFont);
  font-size: 19px;
  font-weight: 600;
  justify-content: center;
  padding: 0px 10px;
  text-align: center;
  transition: .25s all ease;
  width:max-content;
  text-shadow: 0 1px 2px #000;
}
.blockmenu:hover{
  background-color: var(--PanelBackHover);
}
.blockmenu:active{
  background-color: var(--HeadMenuButtonActive);
}
.blockmenu span::before
{
  padding-right: 10px;
}
.blockmenuprincipal span::before{
  content: "Menu principal";
}
.blockmenucours span::before{
  content: "Cours";
}
.blockmenugenerateurs span::before{
	content: "Outils";
}
.blockmenuapps span::before{
  content: "Applications";
}
.blockmenusecret{
  flex: 0 1 auto;
  margin-left: auto;
}
.blockmenusecret span:before{
	content: "🔑";
}
.secret_connect{
	background-color: var(--PanelBack);
	position: absolute;
	top: calc(var(--HeaderBarHeight) + 5px);
	padding: 5px;
	border-radius: 5px;
	width: 158px;
	right: 5px;
	z-index: 10;
	box-shadow: 2px 2px 1px black;
	display: none;
}
.secret_connect input{
	width: 150px;
}
.blockmenu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  width: 100%;
}
.blockmenu span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0px;
  transition: 0.5s;
  display: flex;
  align-items: center;
  height: 100%;
}
.blockmenu:hover span {
  padding-right: 10px;
}
.blockmenu:hover span:after {
  opacity: 1;
  right: 0;
}
/* FIN Header*/

/* Contenue cours*/
.container {
  top: var(--HeaderBarHeight);
  left: 0;
  margin-left: var(--NavBarWidth);
  bottom: 0;
  min-height: calc(100% - var(--HeaderBarHeight));
  position: relative;
  text-align: center;
  background-color: white;
}
.container iframe {
    width: 100%;
    height: 100%;
    border: none;
}
/* FIN Contenue cours*/

/* Navigation chapitres */
.openmenu{
  position: absolute;
  right: -40px;
  top: 0px;
  width: 40px;
  height: 40px;
  z-index: 99;
  background: var(--PanelBack);
  box-shadow: 2px 0px 1px black;
  color: white;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  transition: .25s all ease;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.openmenu:hover{
  background-color: var(--PanelBackHoverMenu);
}
.openmenu:active{
  background-color: var(--PanelBackHover);
}

nav{
  overflow-y: auto;
  bottom: 0px;
  left: 0;
  position: relative;
  height: calc(100% - 42.6px);
  scrollbar-width: thin;          /* "auto" or "thin" */
  scrollbar-color: var(--PanelBackText) transparent;   /* scroll thumb and track */
}
nav::-webkit-scrollbar {
  width: 12px;               /* width of the entire scrollbar */
}
nav::-webkit-scrollbar-track {
  background: transparent;        /* color of the tracking area */
}
nav::-webkit-scrollbar-thumb {
  background-color: var(--PanelBackText);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: none;  /* creates padding around scroll thumb */
}

.classebutton,
.chapitrebutton{
  transition-duration: 0.4s;
  cursor: pointer;
  text-shadow: 0 1px 2px #000;
  border-bottom: 1px solid #202020;
}
.classebutton{
  background-color: var(--PanelBack);
  border-top: 2px solid var(--HeaderBack);
}
.chapitrebutton{
  background-color: var(--HeadMenuButton);
  /* border-bottom: 1px solid var(--HeaderBack); */
}


.classebutton:hover{
  background-color: var(--PanelBackHover);
}
.chapitrebutton:hover{
  background-color: var(--HeadMenuButtonHover);
}
.classebutton:active{
  background-color: var(--PanelBackActive);
}
.chapitrebutton:active{
  background-color: var(--HeadMenuButtonActive);
}
.chapitrebuttonflex{
  padding: 5px 10px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  column-gap: 10px;
  row-gap: 0px;
}
.chapitrebuttonimg{
  width: 30px; 
  height: 30px;
}
.chapitrebuttonnumber{
  font-family: var(--TexteFont);
  color: var(--PanelBackText);
  font-size: 14px;
  font-weight: 600;
  line-height: 16.8px;
  margin: 0px;
}
.chapitrebuttonname{
  font-family: var(--TexteFont);
  color: var(--PanelBackText);
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  margin: 0px;
  overflow-x: hidden;
}
.choixniveau{
  display: flex;
  font-size: 20px !important;
}
.chapitrebuttonclass{
  font-family: var(--TexteFont);
  color: var(--PanelBackText);
  font-size: 20px;
  font-weight: 600;
  line-height: 16.8px;
  margin: 0px;
  align-items: center;
  text-align: center;
  padding: 10px 0px;
}
.selected{
  background-color: var(--PanelBackActive);
}
.classebutton.selected{
  border-bottom: none;
  border-left: 2px solid var(--HeaderBack);
  border-right: 2px solid var(--HeaderBack);
}
.strike{
  text-decoration: line-through;
  text-decoration-thickness: 2px;
  text-decoration-color: #ff0000aa;
}
/* FIN Navigation chapitres */

.PDFButton
{
    position: absolute;
    top: 5px;
    right: 20px;
    background: transparent;
    border: none;
    border-radius: 5px;
    padding: 2px;
    transition-duration: 0.4s;
    
    /* display: none;MUST BE CHANGE WHEN PDF ADDED */
}
.PDFButton:hover
{
    background: #2196F388;
}
.PDFButton:active
{
    background: #2196F3FF;
    transition-duration: 0.1s;
}


@media only screen and (max-width:1220px) {
	.nav-header {
	  height: calc(2 * var(--HeaderBarHeight));
	}
	.nav-headertext{
	  width: 100%;
	  height: min-content;
	}
	header {
	  top: var(--HeaderBarHeight);
	  left: 0;
	}
	.aside {
	  max-width: calc(var(--NavBarWidth) - 40px);
	  width: calc(100% - 40px);
	  left: calc(40px - var(--NavBarWidth));
	  top: calc(2 * var(--HeaderBarHeight));
	}
	.asideshow{
	  left: 0px;
	}
	.container {
	  margin-left: 0;
	  top: calc(2 * var(--HeaderBarHeight));
    min-height: calc(100% - 2 * var(--HeaderBarHeight));
	}
	/* .menuprincipale{
	} */
	.openmenu{
	  visibility: visible;
	}
	
	.secret_connect{
		top: calc(2 *var(--HeaderBarHeight) + 5px);
	}
}



@media only screen and (max-width:860px) {
  .nav-header {
    height: calc(2 * var(--HeaderBarHeight));
  }
  .nav-headertext{
    width: 100%;
    height: min-content;
  }
  header {
    top: var(--HeaderBarHeight);
    left: 0;
  }
  .asideshow{
    left: 0px;
  }
  .container {
    margin-left: 0;
    top: calc(2 * var(--HeaderBarHeight));
    min-height: calc(100% - 2 * var(--HeaderBarHeight));
  }
  .secret_connect{
	  top: calc(2 * var(--HeaderBarHeight) + 5px);
  }
  /* .menuprincipale{
  } */
  .blockmenuprincipal span:before{
    content: "🏠";
  }
  .blockmenucours span:before{
    content: "📚️";
  }
  .blockmenugenerateurs span:before{
    content: "✏️";
  }
  .blockmenuapps span:before{
    content: "💿";
  }
  .blockmenu span {
    width: 30px;
  }
  .blockmenu{
    width: 40px;
  }
  .openmenu{
    visibility: visible;
  }
}

@media only screen and (max-width: 320px) {
  .aside {
	  left: calc(40px - 100%);
  }
  .asideshow{
    left: 0px;
  }
}