html{
    max-width: 100%;
    max-height: 100%;
}
body{
    background-color: white;
}

.panelbuttonspace
{
    min-width: 40px;
}
body:fullscreen .panelbuttonspace
{
    min-width: 0px;
}

.maintable{
    width: calc(100% - 200px);
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
}

.line{
    background-color: white;
    border: solid var(--PanelBack) 10px;
    border-width: 10px 20px;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    transition: .25s all ease;
}
#line1{
    flex: 1 1 auto;
}
#line2{
    flex: 2 1 auto;
    border-width: 10px 20px 20px 20px;
}
#unitline{
    background-color: var(--PanelBack);
    border-width: 5px 20px 5px 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#numbers{
    background-color: var(--PanelBack);
    border-width: 0px 20px 0px 20px;
    min-height: 80px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--PanelBackText);
}
#numbers label{
    width: 100%;
    text-align: center;
}

.hide{
    color: transparent !important;
}

.colonne{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;
    background-image: linear-gradient(0.25turn,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 35%,
        rgba(48, 30, 11, 1) 36%,
        rgba(173, 139, 98, 1) 50%,
        rgba(48, 30, 11, 1) 64%,
        rgba(0, 0, 0, 0) 65%

      );
}

.unitcolor{
    background-image: linear-gradient(0.25turn,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 35%,
        rgb(48, 11, 11) 36%,
        rgb(211, 52, 52) 50%,
        rgb(48, 11, 11) 64%,
        rgba(0, 0, 0, 0) 65%

      );
}


.boule{
    flex: 1 1 auto;
    max-width: 8vh;
    border-radius: 50%;
    background: radial-gradient(white, black 70%);
    cursor: pointer;
}


.empty{
    flex: 0 0 auto;
    min-height: 1px;
    transition: .25s all ease;
}
.emptyexpand{
    flex: 500 1 auto;
    min-height: 30px;
}

.unitbutton{
    width: 30px;
    font-weight: bold;
}


.unitbutton input {
    display: none;
}
.unitbutton input + label {
    padding: 0.3rem 0.5rem;
    border: 1px dashed var(--PanelBackActive);
    background-color: white;
    cursor: pointer;
}
.unitbutton input + label:hover {
    background-color: var(--HoverWhiter);
}
.unitbutton input:checked + label {
    border: 1px solid var(--PanelBackActive);
    background-color: var(--RedPanelHover);
}
.unitbutton input:checked + label:hover {
    background-color: var(--RedPanel);
}
.flexpage{
    display: flex;
    flex-direction: row;
    height: 100%;
}

.options
{
    background-color: white;
    padding: 20px;
    width: 160px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.tgl {
	display: none;
  
	/* add default box-sizing for this scope */
	&,
  &:after,
  &:before,
	& *,
  & *:after,
  & *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}
  
	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 100%;
		height: 2em;
		position: relative;
		cursor: pointer;
    user-select: none;
		&:after,
    &:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}
    
		&:after {
			left: 0;
		}
    
		&:before {
			display: none;
		}
	}
  
	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

.tgl-skewed {
	+ .tgl-btn {
		overflow: hidden;
		transform: skew(-10deg);
		backface-visibility: hidden;
		transition: all .2s ease;
		font-family: sans-serif;
		background: #D8B386;
		&:after,
    &:before {
			transform: skew(10deg);
			display: inline-block;
			transition: all .2s ease;
			width: 100%;
			text-align: center;
			position: absolute;
			line-height: 2em;
			font-weight: bold;
			color: #fff;
			text-shadow: 0 1px 0 rgba(0,0,0,.4);
		}
    
		&:after {
			left: 100%;
			content: attr(data-tg-on);
		}
    
		&:before {
			left: 0;
			content: attr(data-tg-off);
		}
    
		&:active {
			background: #D8B386;
			&:before {
				left: -10%;
			}
		}
	}
  
	&:checked + .tgl-btn {
    background: #86d993;
    &:before {
      left: -100%;
    }

    &:after {
      left: 0;
    }

    &:active:after {
      left: 10%;
    }
	}
}