.maincontainer{
	display: flex;
	gap: 5px;
	flex-direction: column;
	padding: 5px;
	padding-left: 45px;
	min-height: calc(100% - 10px);
	max-height: calc(100% - 10px);
}


.grid{
	width: 100%;
	height: 100%;
	display: flex;
	gap: 5px;
	justify-content: space-evenly;
	flex-direction: row;
	flex-wrap: wrap;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.grid svg{
	background-color: white;
}
svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}

.flexobject{
	display: flex;
	flex-wrap: wrap;
	align-items: baseline;
	gap: 5px;
	flex-direction: row;
	color: var(--PanelBackText);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
}
.flexobject input{
	min-width: 75px;
	max-width: 75px;
}

.left_panel{
	width: 100%;
}

.content_div{
	flex: 10px 1 0;
	width: 100%;
	max-height: 100%;
	overflow: hidden;
}

svg text {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
svg text::selection {
    background: none;
}




#structuro_grid{
	border-collapse: collapse;
	text-align: center;
	font-size: 20pt;
	margin: auto;
}
#structuro_grid td{
	width: 50px;
	height: 50px;
	max-width: 50px;
	max-height: 50px;
	min-width: 50px;
	min-height: 50px;
	border: solid 1px var(--PanelBackText);
	color: var(--PanelBackText);
}
#structuro_grid  td > span{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


div[class^="tool"]{
	display: flex;
	gap: 2px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-items: stretch;
}
div[class^="tool"] > img{
	max-height: 24px;
}

div[class^="tool"] > label {
  max-height: 24px;
	font-weight: bold;
	font-size: 12pt;
	color: var(--PanelBackText);
}
/* div[class^="tool"] > button{
	max-width: 24px;
	min-width: 24px;
} */
div[class^="tool"] > input
{
	width: 50px;
}

.tool-coord > label{
	font-weight: bold;
	font-size: 12pt;
}

.tool-axe > input{
	flex: 30px 1 1;
	padding: 0;
	align-items: center;
	max-height: 16px;
}

.tool-axe{
	align-items: center;
}

.checkbox{
	display: flex;
	justify-content: center;
	font-weight: bold;
	font-size: 12pt;
	color: var(--PanelBackText);
}
.checkbox > input{
	width: auto;
}