:root{
	--TableWidth : 77px;
	--TableHeight: calc(var(--TableWidth) * 41.0 / 44.0);
	--TableFontSize: calc(var(--TableWidth) * 8.0 / 44.0);

	--Back: #181818;
	--Back2: #212121;
	--BackObject: #262626;
	--BackActive: #37373D;
	--BackHover: #2A2D2E;
	--BackHoverMenu: #36363C;
	--BackText: #DEDEE3;
	--DBackText: #CFCFD3;

	--WBack: #353535;
	--WBackActive: #53535B;
	--WBackDisabled: #F9F9FF08;
	--WBackHover: #494D4F;
	--WBackHoverMenu: #52525B;
	--WBackText: #F9F9FF;
	--WBackTextDisabled: #F9F9FF55;

	--CartonColor: #50e991;
}

body{
	background-color: var(--PanelBackHoverMenu);
	padding-left: 40px;
}

.formemenu > span > input{
	display: inline-block;
}

.couche, .groupe-title {
	display: flex;
	align-items: center;
	gap: 0;
}

.groupe{
	display: flex;
	flex-direction: column;
	gap: 0;
}
.groupe-title{
	background-color: var(--HeadMenuButtonActive);
}
.groupe-title > span::before{
	content: "";
}
.groupe-title > span {
	flex-grow: 1;
	text-align: center;
	color: var(--BluePanelHover);
}
.groupe-title > input {
	flex-grow: 0;
	margin: 0;
	width: 24px;
	min-width: 24px;
	height: 24px;
}

.maincontainer{
	display: flex;
	flex-direction: row;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
	transition: 0.5s;
	align-items: stretch;
	align-content: stretch;
}

.generation-option{
	position: relative;
	min-height: 100%;
	max-height: 100%;
	height: auto;
	top: 0;
	overflow-y: scroll;
}

.couche-parametres{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.carte-options{
	background-color: var(--Back2);
	width: 300px;
	flex-shrink: 0;
}

.main_view{
	width: 100%;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: var(--PanelBack)
}

.formemenu_div{
	padding-right: 0;
}
.formemenu_div > div{
	width: 100%;
}
.groupe-content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2px;
	padding-left: 5px;
	width: calc(100% - 5px);
}

.preview{
	background-color: white;
	overflow: scroll;
	min-height: 100px;
	min-width: 100px;
}

#svg_holder{
	padding: 2px;
	line-height: 0;
	background-color: black;
}
#svg_holder > svg:first-child{
	background-color: white;
}

#menu_container_carte{
	padding-right: 15px;
	width: calc(100% - 15px);
	height: auto;
	min-height: 200px;
}

#menu_container_disponible{
	padding-right: 15px;
	height: auto;
	width: calc(100% - 15px);
}

#menu_container_actions{
	padding-right: 15px;
	width: calc(100% - 15px);
	height: auto;
}
#menu_container_actions button{
	text-align: center;
}


.selectable_couche{
	background-color: var(--PanelBackActive);
  padding: 2px 2px;
  display: inline-block;
  height: 24px;
  width: 100%;
	cursor: grab;
}
.selectable_couche:hover{
	background-color: var(--PanelBackHover);
}


.hide{
	display: none;
}

.glyphicon-move{
	background-color: var(--PanelBackActive);
	text-align: center;
	vertical-align: center;
	font-size: 24px;
	height: 28px;
	width: 28px;
  cursor:n-resize;
  cursor: -webkit-grabbing;
}


.iconbutton{
    width: 24px;
    height: 24px;
    transition: 150ms;
    border-radius: 5px;
    display: inline-block;
    background-color: var(--HeadMenuButton);
    color: var(--WBackText);;
}
.iconbutton:hover{
    background-color: var(--WBackHover);
}
.iconbutton:active{
    background-color: var(--WBackActive);
}

[class*='tool-']  label{
	font-size: 10pt;
}
[class*='tool-'] > label{
	font-weight: bold;
	font-size: 12pt;
}


div[class^="tool-"]{
	display: flex;
	gap: 2px;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: stretch;
	justify-items: stretch;
}
div[class^="tool-"] > img{
	max-height: 24px;
}
div[class^="tool-"] > button{
	max-width: 24px;
	min-width: 24px;
}

.tool-fill > div
{
	max-height: 24px;
	min-width: 44px;
}
.tool-fill
{
	font-family: 'Glyphter';
}

.tool-stroke > input
{
	width: 44px;
}


.tool-font > div
{
	max-height: 24px;
	min-width: 232px;
}
.tool-font > input
{
	width: 69px;
}

#title_SelectedMap{
	font-size: 24pt;
	color: var(--PanelBackText);
	font-family: var(--TexteFont);
}

.carte_selectable {
	font-size: 14pt;
	font-weight: bold;
	padding-top: 3px;
	padding-bottom: 3px;
}
.carte_selectable:hover {
	background-color: var(--HeadMenuButtonHover);
}
.carte_selectable:active {
	background-color: var(--HeadMenuButtonActive);
}



.pattern{
	display: flex;
}
.pattern > div{
	flex-grow: 1;
}
.pattern > label{
	line-height: 26px;
}

 /* The container must be positioned relative: */
.custom-select {
  position: relative;
	border-radius: 3px;
}

.custom-select select {
  display: none; /*hide original SELECT element: */
}

.select-selected {
  background-color: var(--Back);	
	width: calc(100% - 8px);
	color: var(--BackText);
	border-radius: 3px;
	border: #777777 solid 2px;
}

/* Style the arrow inside the select element: */
.select-selected:after {
  position: absolute;
  content: "";
  top: 8px;
  right: 5px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: var(--BackText) transparent transparent transparent;
}

/* Point the arrow upwards when the select box is open (active): */
.select-selected.select-arrow-active:after {
  border-color: transparent transparent var(--BackText) transparent;
  top: 2px;
}

/* style the items (options), including the selected item: */
.select-items div,.select-selected {
	color: #e3e3e3;
  padding: 1px 3px;
  cursor: pointer;
	border-radius: 3px;
  background-color: var(--Back);
}

/* Style items (options): */
.select-items {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
	overflow-y: scroll;
	display: flex;
	flex-wrap: wrap;
	max-width: 44px;
}

/* Hide the items when the select box is closed: */
.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: var(--PanelBackTextDisabled);
} 