/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 28, 2013, 7:09:35 AM
    Author     : bugraozden
*/

:root {

    --IconSelectorWidth: 50px; /* sil  70px */
    --IconSelectorHeight: 20px; /* sil  70px */

    --IconSelectorWidth2: 50px; /* sil  48px */
    --IconSelectorHeight2: 20px; /* sil  48px */

    --IconSelectorWidth3: 60px; /* sil  170px */
    --IconSelectorHeight3: 69px; /* sil  170px */
}

.icon-select{
    width: calc(var(--IconSelectorWidth) + 12px);
 }

 .icon-select .selected-box {

     position: relative;
     margin: 0px;
     padding: 0px;
     width: calc(var(--IconSelectorWidth) + 10px);
     height: var(--IconSelectorHeight);
     border: 1px solid #8e8e9c;
     background-color: #e9e9ed;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

 }

 .icon-select .selected-box:hover {

     position: relative;
     margin: 0px;
     padding: 0px;
     width: calc(var(--IconSelectorWidth) + 10px);
     height: var(--IconSelectorHeight);
     border: 1px solid #8e8e9c;
     background-color: #d0d0d7;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

 }

 .icon-select .selected-icon {

     position: absolute;
     margin: 0px;
     padding: 0px;
     top:0px;
     left:0dvh;
     width: var(--IconSelectorWidth);
     height: var(--IconSelectorHeight);

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

 }

 .icon-select .component-icon{
     position: absolute;
     bottom:-1px;
     right:1px;
 }

 body .box {

     position: absolute;
     margin: 0px;
     padding: 0px;
     width: var(--IconSelectorWidth3);
     height: var(--IconSelectorHeight3);
     border: 1px solid #EEEEEE;
     background-color: #EEEEEE;

     scrollbar-color: #000 transparent;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;
     
     overflow:auto;
     /*
     -webkit-overflow-scrolling: touch;
     */
 }

body .icon {
     position: relative;
     margin: 1px 0px 0px 1px;
     padding: 0px;
     width: var(--IconSelectorWidth);
     height: var(--IconSelectorHeight);
     border: 1px solid #CCCCCC;
     background-color: #FFFFFF;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

     overflow:hidden;
     float: left;
 }

body .icon:hover {
     border: 1px solid #000000;
 }

body .icon.selected {
     position: relative;
     margin: 1px 0px 0px 1px;
     padding: 0px;
     width: var(--IconSelectorWidth);
     height: var(--IconSelectorHeight);
     border: 1px solid #EEEEEE;
     background-color: #EEEEEE;

     -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
     border-radius: 3px;

     overflow:hidden;
     float: left;
 }