:root{
	--TableWidth : 77px;
	--TableHeight: calc(var(--TableWidth) * 41.0 / 44.0);
	--TableFontSize: calc(var(--TableWidth) * 8.0 / 44.0);

	--Back: #181818;
	--BackObject: #262626;
	--BackActive: #37373D;
	--BackHover: #2A2D2E;
	--BackHoverMenu: #36363C;
	--BackText: #DEDEE3;
	--DBackText: #CFCFD3;

	--WBack: #353535;
	--WBackActive: #53535B;
	--WBackDisabled: #F9F9FF08;
	--WBackHover: #494D4F;
	--WBackHoverMenu: #52525B;
	--WBackText: #F9F9FF;
	--WBackTextDisabled: #F9F9FF55;

	--CartonColor: #50e991;
}

body{
	background-color: var(--PanelBackHoverMenu);
}

.maincontainer{
	display: flex;
	width: 100%;
	min-height: 100%;
	max-height: 100%;
}

p, span, div{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p, span{
	color: var(--BackText);
}

button, input, select{
	border: solid gray 1px;
	border-radius: 5px;
	background-color: var(--BackText);
}
button:focus,
button:hover,
input:focus,
input:hover,
select:focus,
select:hover{
	background-color: var(--WBackActive);
}
button:focus,
select:focus,
input:focus{
	outline: solid var(--BluePanelHover) 1px;
}

.generation-option{
	padding: 5px;
	padding-left: 45px;
	width: 320px;
	line-height: 24px;
	display: flex;
	flex-direction: column;
	gap: 5px;
	background-color: var(--PanelBack);
	min-height: 100%;
	max-height: 100%;
}

.iconbutton{
	width: 24px;
	height: 24px;
	transition: 150ms;
	border-radius: 5px;
	display: inline-block;
	background-color: var(--HeadMenuButton);
	color: var(--WBackText);;
}
.iconbutton:hover{
	background-color: var(--WBackHover);
}
.iconbutton:active{
	background-color: var(--WBackActive);
}
.iconline{
	width: 100%;
}


.flexline{
	display: flex;
	align-items: center;
}

.progression-bar{
	display: inline-block;
	/* background-color: var(--HeadMenuButton); */
	color: var(--BluePanelHover);
	border-radius: 0px;
	height: 24px;
	display: flex;
	align-items: center;
}
.progression-bar svg{
	grid-column: 1; 
	grid-row: 1; 
}
.progression-bar label{
	color: var(--WBackText);
	grid-column: 1; 
	grid-row: 1; 
	color: white;
	text-align: center;
}
.progression-bar-canceled{
	color: var(--RedPanelHover);
}

.button-text{
	-webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
	flex-basis: 100%; 
	text-align: center;
}


input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.number-input {
  display: flex;
  flex-direction: row;
  padding: 0;
}

.number-input button {
  align-items: center;
  justify-content: center;
  margin: 0;
  position: relative;
  flex: 1 ;
	background-color: var(--HeadMenuButton);
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 10px;
	background-color: var(--WBackText);
  height: 2px;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  flex: 3 1;
  text-align: center;
	height: 24px;
	transition: 150ms;
	display: inline-block;
	background-color: var(--HeadMenuButton);
	color: var(--WBackText);
	margin: 0; 
}

.number-input button:hover,
.number-input button:hover,
.number-input input[type=number]:hover {
	background-color: var(--WBackHover);
}
.number-input button:active,
.number-input button:active,
.number-input input[type=number]:active {
	background-color: var(--WBackActive);
}



.preview-carton{
	display: grid;
	background-color: var(--CartonColor);
	padding: 2mm;
}
.preview-carton div{
	grid-column: 1;
	grid-row: 1;
}
.preview-carton-content{
	border: solid 2px var(--CartonColor);
	border-collapse: collapse;
}
.preview-carton-content td{
	width: 15mm;
	min-width: 15mm;
	max-width: 15mm;
	height: 22mm;
	min-height: 22mm;
	max-height: 22mm;
	background-color: var(--CartonColor);
}
.preview-carton label{
	grid-column: 1;
	grid-row: 1;
	font-size: 3mm;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #fff;
	height: max-content;
	margin-top: -5px;
	padding: 2px;
	border-radius: 5px;
}
.preview-cell{
	border-radius: 5px;
	background-color: #fff;
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	font-weight: bold;
}
.preview-cell div{
	flex-flow: 100%;
	font-size: 10mm;
	text-align: center;
}

.SmallNumber{
	font-size: 5mm !important;
	flex-flow: 5mm !important;

}
.Empty{
	margin: 5px;
	background-color: var(--CartonColor);
	height: 100%;
	border-radius: 2px;
}

.card_select {
  text-align: center;
	height: 24px;
	transition: 150ms;
	display: inline-block;
	background-color: var(--HeadMenuButton);
	color: var(--WBackText);
	margin: 0; 
}

.card_select:hover {
	background-color: var(--WBackHover);
}
.card_select:active {
	background-color: var(--WBackActive);
}

.card_select_incorrect{
	background-color: var(--RedPanel);
}
.card_select_incorrect:hover{
	background-color: var(--RedPanelHover);
}
.card_select_incorrect:active{
	background-color: var(--RedPanelActive);
}
.card_select_incorrect:focus{
	outline: solid var(--RedPanelFocus) 1px;
	border: solid var(--RedPanelFocus) 1px;
}

.main_view{
	padding: 20px;
}




.disabled,
.disabled:hover,
.disabled:active{
	background-color: var(--WBackDisabled);
	color: var(--WBackTextDisabled);
}

.menu_title{
	color: var(--PanelBackText); 
	display: flex; 
	align-items: center; 
	gap: 5px;
}
.menu_title img {
	cursor: help;
	max-width: 18px;

}

.infobulle {
	position: relative;
}
.infobulle-texte {
	position: absolute;
	left: 5px;
	padding: 5px;
	width: 300px;
	z-index: 8;
	color: var(--BluePanelHover);
	font-size: 10px;
	background-color: var(--BluePanelActive);
	border: 1px solid var(--BluePanelHover);
	border-radius: 5px;
}

.infobulle-texte_hover{
	opacity: 0;
}

.flex_color_list{
	margin: 10px 0px;
	display: flex;
	gap: 2px;
	align-items: center;
}
.flex_color_list button{
	min-width: 20px;
	min-height: 20px;
	width: 20px;
	height: 20px;
	padding: 1.6px;
	border-radius: 3px;
}
#Card_color{
	width: 60px;
}

.color_selector{
		width: 40px;
		height: 20px;
		padding: 1.6px;
		cursor: pointer;
}